<!DOCTYPE html>
<html>
    <body>
        <h1>Image Classifier</h1>
        <p>Classify objects in images with machine learning!</p>
        <br><br>
        <div id="image_code"></div>
        <div id="classification_text"></div>
        <div id="probability_text"></div>
        <br><br>
        <div>
            <div>
                <p>URL for image:</p>
                <input type="text" id="url" size="50">
            </div>
        </div>
        <br>
        <div>
            <button id="output">Output</button>
        </div>
        
        <script src="/static/jquery-3.1.1.min.js"></script>
        <script src="/static/api_call.js"></script>
    </body>
</html>